/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */

:root {
  --color-dark: #d0f0f9;
  --color-light: #217ca6;
  --red: #F95657;
  --red-error: rgba(255, 68, 68, 0.1);
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
    overflow: hidden;
    font-family: 'Pixelify Sans', sans-serif;
    transition: background-color 0.3s ease;
    cursor: crosshair;
}

#canvas {
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
    font-size: larger;
    cursor: crosshair;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.light-mode {
    color: var(--color-light);
    background: #87CEEB;
}

.dark-mode {
    color: var(--color-dark);
    background: #0F0F23;
    
}

.light-mode .wrapper {
    text-shadow: 2px 2px var(--color-dark);
}

.dark-mode .wrapper {
    text-shadow: 2px 2px var(--color-light);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 100;
}

.dark-mode .loading-screen {
  background-color: #0a1b2a;
}

.light-mode .loading-screen {
  background-color: #217ca6;
}

.loading-screen p {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-dark);
  position: relative;
  background: linear-gradient(-45deg, 
      rgba(255, 255, 255, 0.2) 0%, 
      rgba(255, 255, 255, 0.3) 25%, 
      rgba(255, 255, 255, 0.7) 45%, 
      rgba(255, 255, 255, 0.75) 50%, 
      rgba(255, 255, 255, 0.75) 55%, 
      rgba(255, 255, 255, 0.3) 75%, 
      rgba(255, 255, 255, 0.2) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowFlow 2.25s ease-in-out infinite;
}

@keyframes glowFlow {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/** pixel btn **/

.toggle-btn {
    position: fixed !important;
    top: 0.3rem !important;
    right: 1rem !important;
    transition: transform  0.25s ease;
    aspect-ratio: 1;
    transform: scale(0.95);
}

.toggle-btn i{
    text-shadow: none;
    width: 0.5rem;
    aspect-ratio: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.dark-mode .toggle-btn .fa-sun {
    display: flex;
}

.light-mode .toggle-btn .fa-moon {
    display: flex;
}

.pixel-btn {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;

  position: relative;
  display: block;
  padding: 10px 10px; 
  z-index: 2;
  text-shadow: none;
  cursor: pointer;
  transition: transform  0.25s ease;
}

.pixel-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: black;
  z-index: -1;
}

.pixel-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: black;
  z-index: -1;
}

.dark-mode .pixel-btn, .dark-mode .pixel-btn::after, .dark-mode .pixel-btn::before {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.light-mode .pixel-btn, .light-mode .pixel-btn::after, .light-mode .pixel-btn::before {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.pixel-btn:hover {
    transform: scale(1.05);
}

.pixel-btn:active {
    transform: scale(0.85);
}

/** sections **/

.section{
    min-height: 100vh;
    width: 100%;

    display: grid;
    place-items: center;
}

.dark-mode .section:nth-child(odd){
    background-color: rgba(10, 27, 42, 0.5);
}

.light-mode .section:nth-child(odd){
    background-color: rgba(208, 240, 249, 0.5);
}

.section.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.section.home h1 {
    font-size: 7rem;
    text-decoration: underline;
}

.section.home h1{
    margin-top: 0.5rem;
}

.section.home h3{
    min-width: 75%;
    max-width: 85%;
    margin-top: 0.5rem;
    font-weight: 500;
}

.section.home .buttons{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 1rem;
}

.section.home .socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.section.home .socials .pixel-btn{
    transform: scale(0.6);
}

.section.home .socials .pixel-btn:hover{
    transform: scale(0.7);
}

.section.home .socials .pixel-btn:active{
    transform: scale(0.6);
}

.section.home .socials i{
    transform: scale(1.6);
}

.section h1{
    text-decoration: underline;
}

.section.about{
    display: flex;
}
.section.about h1{
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
}


/** mobile **/

@media screen and (max-width: 600px) {
    .wrapper{
        font-size: small;
    }

    .loading-screen p{
        font-size: 2rem;
    }

    .pixel-btn {
        padding: 10px 5px;
        transform: scale(0.8);
    }

    .section.home h1{
        font-size: 3rem;
        line-height: 0.9;
        max-width: 90%;
    }

    .section.home h2{
        font-size: 1rem;
        max-width: 80%;
        margin-top: 1rem;
    }

    .section.home h3{
        font-size: 0.85rem;
        font-weight: 500;
        max-width: 87.5%;
        margin-top: 0.25rem;
    }

    .section.home .buttons{
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.75rem; 
    }

    .section.home .buttons .pixel-btn{
        transform: scale(1.1);
    }

    .section.home .socials{
        gap: 1rem;
        margin-top: 1.5rem;
    }
}