@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --color-dark: #d0f0f9;
  --color-light: #217ca6;
  --red: #F95657;
  --red-error: rgba(255, 68, 68, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Pixelify Sans", sans-serif;
    transition: background-color 0.3s ease;
    cursor: crosshair;
}

#canvas {
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
    font-size: larger;
}

.light-mode {
    color: var(--color-light);
    background: #87CEEB;
    text-shadow: 2px 2px var(--color-dark);
}

.dark-mode {
    color: var(--color-dark);
    background: #0F0F23;
    text-shadow: 2px 2px var(--color-light);

}

.toggle-btn{
    position: absolute;
    top: 0.5rem;
    right: 0.55rem;
    aspect-ratio: 1;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 30px;
    width: 30px;
    aspect-ratio: 1;
}

.dark-mode .toggle-btn {
    background: url('/assets/img/sun.png');
    background-position: center;
    background-size: cover;
    opacity: 0.75;
}

.light-mode .toggle-btn {
    background: url('/assets/img/moon.png');
    background-position: center;
    background-size: cover;
    opacity: 0.85;
}

.toggle-btn img{
    height: 28px;
    width: 28px;
}

.toggle-btn:hover {
    transform: scale(1.1);
}

.toggle-btn:active {
    transform: scale(0.9);
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 100;
}

.dark-mode .loading-screen {
  background-color: #0a1b2a;
}

.light-mode .loading-screen {
  background-color: #217ca6;
}

.loading-screen p {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-dark);
  position: relative;
  background: linear-gradient(-45deg, 
      rgba(255, 255, 255, 0.2) 0%, 
      rgba(255, 255, 255, 0.3) 25%, 
      rgba(255, 255, 255, 0.7) 45%, 
      rgba(255, 255, 255, 0.75) 50%, 
      rgba(255, 255, 255, 0.75) 55%, 
      rgba(255, 255, 255, 0.3) 75%, 
      rgba(255, 255, 255, 0.2) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowFlow 2.25s ease-in-out infinite;
}

@keyframes glowFlow {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 100% 0;
    }
}